<!-- <div>
  <input type="text" [(ngModel)]="location" placeholder="Location"  (input)="onFilterChange()">
  <input type="text" [(ngModel)]="industry" placeholder="Industry"  (input)="onFilterChange()">
  <input type="text" [(ngModel)]="search" placeholder="Search"  (input)="onFilterChange()">
</div> -->


<div class="filter-container">
  <input type="text" [(ngModel)]="location" placeholder="Location" (input)="onFilterChange()">
  <input type="text" [(ngModel)]="industry" placeholder="Industry" (input)="onFilterChange()">
  <input type="text" [(ngModel)]="search" placeholder="Search" (input)="onFilterChange()">
</div>


  
